<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Access library?</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>dfgd</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.27594490001-9qo6akd51pa2q261jtr3btm0u1h055p3</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>AirbnbCereal_W_Bd.otf</string>
		<string>AirbnbCereal_W_Bk.otf</string>
		<string>AirbnbCereal_W_Blk.otf</string>
		<string>AirbnbCereal_W_Lt.otf</string>
		<string>AirbnbCereal_W_Md.otf</string>
		<string>AirbnbCereal_W_XBd.otf</string>
		<string>Tungsten-Semibold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
